@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

#header{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar ul,#sociallinks ul {
    display: flex;
    justify-content: space-between;

}

#navbar ul li,#sociallinks ul li{
    list-style: none;

}

#navbar ul li a,#sociallinks ul li i{
    text-decoration: none;
    padding-left: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

#navbar ul li a:hover,
#sociallinks ul li i:hover{
    color: rgb(209, 212, 214);
    font-size: 18px;
}

#header img{
    width: 50px;
}