@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
    line-height: 1.5;
}

.section-gap {
    padding-top: 80px;
    padding-bottom: 80px;
}

strong {
    color: #55527C;
}

/* Header */

#header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

#navbar,
#sociallinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar li,
#sociallinks li {
    list-style-type: none;
    padding-left: 40px;
    position: relative;

}


#navbar li a,
#sociallinks li i {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 500;
    font-size: 16px;
    transition: 0.2s ease;

}

#navbar li a:hover,
#sociallinks li i:hover {
    color: rgb(209, 212, 214);
    font-size: 18px;
    cursor: pointer;
}

#header img {
    width: 50px;
}

#mobile {
    display: none;
}

#mobile i {
    padding-right: 10px;
    color: #1a1a1a;
    cursor: pointer;
}

#close {
    display: none;
}


.ctn {
    width: 100px;
    padding: 8px 12px;
    background: var(--h1);
    color: whitesmoke;
    border-radius: 5px;
    text-align: center;
}

.ctn:hover {
    background: white;
    border: 1px solid var(--h1);
    color: var(--h1);
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 80vh;
    background-image: url('img/profile.png');
    object-fit: cover;
    background-repeat: no-repeat;
    /* Adjusted background position */
    background-position-x: calc(100% - 20%);
    background-position-y: center;
    background-size: 30%;

}

#hero__inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}

.hero__heading {
    font-size: 46px;
    font-weight: 600;
}

.btn {
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #1e1964;
    color: white;
}

.btn:hover {
    background-color: #2d2872;
}

/* SKILLS */
.section-heading-1 {
    text-align: center;
    color: #B4B2C5;
    font-weight: 600;

}

.section-heading-2 {
    text-align: center;
    font-size: 50px;
    color: #1e1964;
    font-weight: 600;
    margin-top: 20px;

}

.skills__heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.skills__description {
    color: #B4B2C5;
    margin-top: 30px;
}

.skills__cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-gap: 50px;
}

.skills__col {
    padding: 30px;
    border-radius: 10px;
}

.skills__col:hover {
    box-shadow: 0px 0px 30px #0000002f;
    border-radius: 20px;
    cursor: pointer;
}

.skill_img {
    margin-right: 20px;
}

/* Testimonials */
#testimonials {
    background-color: #FFF5F6;
    color: #B4B2C5;
}

.testimonials__cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 50px;
}

.testimonials__col {
    margin-top: 60px;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.062);
    text-align: center;
    gap: 30px;
    padding: 30px;
    justify-content: center;
}

.testimonials__col img {
    margin-top: -60px;
    margin-left: 40%;
    transition: transform 0.5s ease;
    width: 90px;
}

.testimonials__col .fa-quote-left {
    font-size: 24px;
}


.ratings {
    color: #ADA8FF;
}

.testimonials__col h4 {
    color: #55527c;

}

.testimonials__col:hover img {
    transform: scale(1.2);
}

/* 2xl */
@media (max-width: 1536px) {}

/* xl */
@media (max-width: 1280px) {}

/* lg */
@media (max-width: 1024px) {
    #hero {
        padding-top: 40px;
        justify-content: flex-start;
        height: 70vh;
    }

    #hero__inner {
        width: 50%;
        gap: 30px;
    }
}

/* md */
@media (max-width: 768px) {

    #mobile {
        display: block;
    }

    #sociallinks {
        display: none;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        background-color: rgb(240, 227, 255);
        align-items: center;
        justify-content: center;
        position: fixed;
        height: 100vh;
        top: 0;
        gap: 20px;
        /* right: 0; */
        right: -1300px;
        padding-top: 80px;
        width: 100%;
        transition: 0.6s;
    }

    #navbar.active {
        right: 0;
    }

    #close {
        display: block;
        font-size: 20px;
        color: #1a1a1a;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    #close:hover {
        color: red;
    }

    /* HERO */
    #hero {
        height: 60vh;
        /* Adjusted background position */
        background-position-x: calc(100% - 10%);
        background-position-y: 0%;
        background-size: 35%;
    }


}

/* sm */
@media (max-width: 640px) {
    #hero {
        background-image: none;
    }

    #hero__inner {
        width: 100%;
        gap: 30px;
    }

    .hero__heading {
        font-size: 32px;
    }
}

/* xs */
@media (max-width: 475px) {
    #hero__inner {
        width: 80%;
        gap: 30px;
    }
}